<a name="contact"></a>
<section class="contact" id="contact">

  <div class="container">
    <div class="row">
      <div class="span12">

        <h1>Contact Us</h1>
        <br />
        <h2>Please use the form below, and someone will reach out to you quickly.</h2>

      </div>
    </div>
  </div>

</section>

<section class="form">

  <div class="container">
    <div class="row">

      <div class="span8">
        <form action="http://forms.grok-interactive.com/forms/f38cbcd5-d939-434a-be26-b47521f6fab5/submissions" method="post" id="contactUs">
          <fieldset>
            <input type="text" id="full_name" name="full_name" placeholder="Contact name" />
            <input type="text" id="company" name="company" placeholder="Company Name (optional)" />
            <input type="text" id="email" name="email" placeholder="Valid contact email" />
            <textarea name="message" id="message" rows=6 placeholder="Questions, Comments, Requests, etc.."></textarea>
            <br />
            <button type="submit" class="btn">Submit</button>
          </fieldset>
        </form>

      </div>
      <div class="span4">
        <address>
          <p><strong>Jason Straughan</strong></p>
          <p>CEO / Software Engineer</p>
          <p><a href='mailto:jasons@grok-interactive.com'>jasons@grok-interactive.com</a></p>
        </address>

        <address>
          <p><strong>Jason Ellis</strong></p>
          <p>CTO / Software Engineer</p>
          <p><a href='mailto:jasone@grok-interactive.com'>jasone@grok-interactive.com</a></p>
        </address>

        <address>
          <p><strong>Grok Interactive, LLC</strong></p>
          <p class="street-address">112 East Pecan, 11th Floor Office E</p>
          <p class="city-state-zip">San Antonio, TX 78205</p>
          
        </address>

      </div>

</section>