<section class="meet" id="meet">

  <div class="container">
    <div class="row">
      <div class="span12">

        <h1>Meet the Grokers</h1>
        <h2>Our job is to help your team build great web applications.</h2>

      </div>
    </div>

    <div class="row">

      <div class="span4">
        <div class="groker">
          <a href="http://www.linkedin.com/in/jdstraughan" target="_blank">
            <svg width='240' height='240'>

              <defs>
                <clipPath id="clipping">
                  <circle cx="120" cy="120" r="120" />
                </clipPath>
              </defs>

              <image xlink:href="/assets/img/jason-straughan-portrait.jpg" width='240' height='240' clip-path="url(#clipping)"></image>
              <image xlink:href="/assets/img/index-meet-mask.png" width='240' height='240' clip-path="url(#clipping)" class='mask'></image>
            </svg>
          </a>
          <h1>Jason Straughan</h1>
          <h2>CEO / Software Engineer</h2>
        </div>
      </div>

      <div class="span4">
        <div class="groker">
          <a href="http://www.linkedin.com/in/jasonellis" target="_blank">
            <svg width='240' height='240'>
              <image xlink:href="/assets/img/jason-ellis-portrait.jpg" width='240' height='240' clip-path="url(#clipping)"></image>
              <image xlink:href="/assets/img/index-meet-mask.png" width='240' height='240' clip-path="url(#clipping)" class='mask'></image>
            </svg>
          </a>
          <h1>Jason Ellis</h1>
          <h2>CTO / Software Engineer</h2>
        </div>
      </div>

	  <div class="span4">
        <div class="groker">
          <a href="http://www.linkedin.com/pub/chris-hardee/2/b07/bb5/" target="_blank">
            <svg width="240" height="240">
              <image xlink:href="/assets/img/chris-hardee-portrait.jpg" width='240' height='240' clip-path="url(#clipping)"></image>
              <image xlink:href="/assets/img/index-meet-mask.png" width='240' height='240' clip-path="url(#clipping)" class='mask'></image>
            </svg>
          </a>
          <h1>Chris Hardee</h1>
          <h2>Software Engineer</h2>
        </div>
      </div>

      

    </div>
    <div class="row">

		<div class="span4">
			<div class="groker">
				<a href="http://www.linkedin.com/pub/isaac-castillo/6/3a1/260" target="_blank">
					<svg width='240' height='240'>
						<image xlink:href="/assets/img/isaac-castillo-portrait.jpg" width='240' height='240' clip-path="url(#clipping)"></image>
						<image xlink:href="/assets/img/index-meet-mask.png" width='240' height='240' clip-path="url(#clipping)" class='mask'></image>
					</svg>
				</a>
				<h1>Isaac Castillo</h1>
				<h2>Software Engineer</h2>
			</div>
		</div>

      <div class="span4">
        <div class="groker">
          <a href="http://www.linkedin.com/in/jamesdavidadams" target="_blank">
            <svg width='240' height='240'>
              <image xlink:href="/assets/img/james-adams-portrait.jpg" width='240' height='240' clip-path="url(#clipping)"></image>
              <image xlink:href="/assets/img/index-meet-mask.png" width='240' height='240' clip-path="url(#clipping)" class='mask'></image>
            </svg>
          </a>
          <h1>James Adams</h1>
          <h2>Software Engineer</h2>
        </div>
      </div>

      <div class="span4">
        <div class="groker">
          <svg width='240' height='240'>
            <image xlink:href="/assets/img/could-be-you-portrait.jpg" width='240' height='240' clip-path="url(#clipping)"></image>
          </svg>
          <h2>Could be you!</h2>
        </div>
      </div>

    </div>
  </div>

  <a class='arrow' href="#service"></a>

</section>

