<a name="service"></a>
<section class="service" id="service">

  <div class="container">

    <div class="row">
      <div class="span12">

        <h1>What we do</h1>
        <h2>Our job is to help your team build great web applications.</h2>

      </div>
    </div>

    <div class="row">

      <div class="span3">
        <img src="/assets/img/index-service-development.png" />
        <h3>Full Stack Development</h3>
        <p>Our team understands how to deliver great web applications using the full array of web development options ranging from HTML and CSS to client side javascript including jQuery and most modern libraries, server-side languages like Ruby and PHP, frameworks including Ruby on Rails, Kohana, ZendFramework, Sinatra, and databases including MySQL, postgres, and various NoSQL solutions.</p>
      </div>

      <div class="span3">
        <img src="/assets/img/index-service-architecture.png" />
        <h3>Software Design &amp; Architecture</h3>
        <p>We're here to assist you beginning with the software architecture phase.  Working with you during planning process creates a better end product, and can save countless hours of development. Outlining the technologies required to meet your goals can be more important than the actual code that powers your application. We'll help you make the right decisions when it counts.</p>
      </div>

      <div class="span3">
        <img src="/assets/img/index-service-prototyping.png" />
        <h3>Rapid Prototyping</h3>
        <p>It should not cost a fortune to get your vision into the hands of potential clients or investors. It shouldn't take forever, either. Using modern development frameworks, and industry standard best practices, we can deliver outstanding <a href="http://en.wikipedia.org/wiki/Proof_of_concept#In_Software_Development"><em>proof of concept</em> (POC)</a> and <a href="http://en.wikipedia.org/wiki/Minimum_viable_product"><em>minimum viable product</em> (MVP)</a> solutions for most budgets.  Success means delivering the right solution, on time.</p>
      </div>

      <div class="span3">
        <img src="/assets/img/index-service-iterative.png" />
        <h3>Iterative Process</h3>
        <p>Grok loves the <a href="http://en.wikipedia.org/wiki/Agile_software_development">agile software development process</a>, and we believe that software development should be transparent, and alterations should be painless.  Our workflow includes showing you what we do, all of the time. You see the progress during the weekly demo, and we set goals and sprints together. You have a voice in the decision making every step of the way.</p>
      </div>

    </div>
  </div>

  <a class='arrow' href="#work"></a>

</section>

