<a name="work"></a>
<section class="work" id="work">

  <div class="container">
    <div class="row">
      <div class="span12">

        <h1>Our latest work</h1>
        <h2>Our job is to help your team build great web applications.</h2>

      </div>
    </div>
    <div class="row">
      <div class="span6 monitor">
        <img src="/assets/img/index-work-monitor-vex.png" />
      </div>
      <div class="span6">
        <a class='site' href="http://xchangeclub.com" target="_blank">xchangeclub.com</a>
        <p>The Xchangeclub.com is a revolutionary vacation home exchange program. It is designed by members for members, providing a platform to exchange vacation and rental properties while at the same time providing a FREE marketing link to the member's traditional rental program.</p>
        <br />
        <a class="link" href="http://xchangeclub.com" target="_blank">Visit Site</a>

      </div>
    </div>
  </div>

</section>

