/* LESS Elements */
@import "/assets/css/mixins.css.less";

/* FONTS! */
.opensans { font-family: 'Open Sans', sans-serif, Arial; }
.condensed { font-family: 'Open Sans Condensed', sans-serif, Arial; }

.center { text-align: center; }
.orange { color: #f68423; }

/* Sticky Footer */
html, body { height: 100% }
#wrap { min-height: 100%; }
#main { overflow: auto; padding-bottom: 30px; }
footer { position: relative; margin-top: -31px; height: 30px; clear:both; }

body {
  font-family: 'Open Sans', sans-serif, Arial;

  div.columns {
    clear: both;
    overflow: auto;
    margin-bottom: 15px;
    div.col {
      float: left;
      &.c10 { width: 10%; }
      &.c20 { width: 20%; }
      &.c30 { width: 30%; }
      &.c40 { width: 40%; }
      &.c50 { width: 50%; }
      &.c60 { width: 60%; }
      &.c70 { width: 70%; }
      &.c80 { width: 80%; }
      &.c90 { width: 90%; }
    }
  }

  header {
    div.navbar {
      div.navbar-inner {
        background-color: #000000;
        background-image: none;
        ul {
          li {
            line-height: 44px;
            a {
              .opensans();
              font-weight: 500;
              font-size: 20px;
              text-transform: uppercase;
              color: #ffffff !important;
              &:hover {
                color: #faa61a !important;
              }
            }
            &.active {
              a {
                color: #faa61a !important;
              }
            }
          }
        }

      }
    }
  }

  section {
    position: relative;

    &:last-of-type {
      margin-bottom: 30px;
    }

    &.blog {
      background-size: 100% 378px;
      background-position: top;
      background-repeat: no-repeat;
      div.inner {
        background-position: top;
        background-repeat: repeat-x;
        padding: 0 1px;
        div.canvas {
          background: #ffffff;
          min-height: 385px;
          legend {
            margin: 20px 10px;
            padding-bottom: 10px;
            width: 98%;
            .orange();
            border-bottom: 2px solid #f0f0f0;
            i {
              color: #d9d9d9;
            }
          }
        }
      }
    }

    &.about {
      background: url(/assets/img/index-background-office.jpg);
      background-size: 100%;
      background-position: 50% 50%;
      margin-top: 65px;
      height: 525px;
      text-align: center;
      color: #ffffff;
      h1 {
        .opensans();
        font-size: 85px;
        font-weight: 500;
        margin-top: 100px;
        margin-bottom: 45px;
        span {
          .condensed();
          color: #e3e3e3;
          font-weight: 300;
        }
      }
      h2 {
        .opensans();
        font-size: 36px;
        background-color: #faa61a;
        font-weight: 300;
        padding: 0 0 5px 0;
        margin: 0 165px;
      }
      h3 {
        .opensans();
        font-size: 45px;
        font-weight: 300;
        text-transform: uppercase;
        span {
          font-weight: 500;
        }
      }
      a.advance {
        width: 77px;
        height: 77px;
        margin-top: 65px;
        display: inline-block;
        background: url(/assets/img/index-advance-down.png) no-repeat;
      }
      a.arrow {
        width: 61px;
        height: 32px;
        display: inline-block;
        background: url(/assets/img/index-arrow-about.png) no-repeat;
        position: absolute;
        bottom: 0;
        margin-left: -35%;
        margin-bottom: -5px;
      }
    }

    &.meet {
      background-color: #ffffff;
      text-align: center;

      h1 {
        .opensans();
        font-size: 42px;
        font-weight: 900;
        text-transform: uppercase;
        margin-top:45px;
      }
      h2 {
        .opensans();
        font-size: 21px;
        font-weight: 400;
        font-style: italic;
        line-height: 21px;
        color: #d35400;
      }

      div.row {
        margin-bottom: 25px;
      }

      a.arrow {
        width: 61px;
        height: 32px;
        display: inline-block;
        background: url(/assets/img/index-arrow-meet.png) no-repeat;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 10%;
        margin-bottom: -5px;
      }

      div.groker {
        margin-bottom: 45px;
        h1 {
          .opensans();
          font-size: 18px;
          font-weight: 500px;
          line-height: 25px;
          color: #414141;
          margin: 0;
        }
        h2 {
          .opensans();
          font-size: 15px;
          font-style: italic;
          line-height: 15px;
          color: #818181;
          margin: 0;
        }
        a {
          position: relative;
        }
        img {
          width: 200px;
          border-radius: 20px;
          border: 1px solid #AAA;
          .transition-event(all 0.8s ease-in-out);
          &.mask {
            position: absolute;
            left: 0;
            .opacity(0);
          }
          &:hover{
            &.mask {
              .opacity(1);
            }
          }
        }
      }

    }

    &.service {
      background-color: #d35400;
      text-align: center;
      color: #ffffff;
      padding: 45px 0;
      div.container {
        margin-bottom: 45px;
      }
      h1 {
        .opensans();
        font-size: 42px;
        font-weight: 900;
        text-transform: uppercase;
        margin: 0;
        padding-top: 45px;
      }
      h2 {
        .opensans();
        font-size: 21px;
        font-weight: 400;
        font-style: italic;
        line-height: 21px;
        padding-bottom: 45px;
      }
      h3 {
        .opensans();
        font-size: 16px;
        font-weight: 700;
      }
      p {
        .opensans();
        font-size: 15px;
        text-align: justify;
      }
      a {
        color: #FFF;
        text-decoration: underline;
      }
      a.arrow {
        width: 61px;
        height: 32px;
        display: inline-block;
        background: url(/assets/img/index-arrow-service.png) no-repeat;
        position: absolute;
        bottom: 0;
        margin-left: -35%;
        margin-bottom: 0px;
      }
      div.image-stack {
        position:relative;
        height: 77px;
        img {
          position: absolute;
          left: 50%;
          margin-left: -38.5px;
          top: 0;
          &.inverted {
            opacity: 0;
          }
        }
      }
    }

    &.work {
      text-align: center;
      color: #000000;
      padding: 45px 0;

      h1 {
        .opensans();
        font-size: 42px;
        font-weight: 900;
        text-transform: uppercase;
        margin-top:45px;
      }
      h2 {
        .opensans();
        font-size: 21px;
        font-weight: 400;
        font-style: italic;
        line-height: 21px;
        color: #d35400;
        padding-bottom: 45px;
      }

      div.client {
        position: relative;
        border: 1px solid #aeaeae;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
        div.about {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(211,84,0,0.8);
          color: #ffffff;
          .transition-event(all 0.8s ease-in-out);
          border-radius: 8px;
          h3 {
            margin:auto;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin-top: -10px;
            line-height: 100%;
            font-size: 2vw;
          }
        }
        &:hover,
        &.active {
          div.about {
            opacity: 1;
          }
        }
      }

      div.row.wide {
        margin-right: -30px;
      }

      div.case-study {
        display: none;
        margin-bottom: 20px;
        max-height: 300px;
        overflow: hidden;
        border-bottom: 1px solid #AEAEAE;
        img {
          border: 1px solid #AEAEAE;
          border-radius: 10px;
          width: 95%;
          float:right;
        }
      }

    }

    &.contact {
      background: url(/assets/img/index-background-map.jpg);
      background-size: cover;
      background-position: 50% 50%;
      height: 350px;

      text-align: center;
      color: #ffffff;

      h1 {
        .opensans();
        font-size: 42px;
        font-weight: 900;
        background: #d35400;
        display: inline-block;
        padding: 10px 120px;
        margin-top: 90px;
        margin-bottom: 10px;
      }
      h2 {
        .opensans();
        font-size: 21px;
        font-weight: 300;
        font-style: italic;
        background: #d35400;
        padding: 20px 120px;
        display: inline-block;
      }
    }

    &.careers {
      margin: 50px 0 125px;
    }

    &.form {
      background: #ecf0f1;
      color: #000000;
      div.container {
        padding-top: 45px;
      }
      p {
        margin: 0;
      }
      form {
        fieldset {
          input, textarea {
            width: 97%;
            .rounded(0);
            padding: 10px;
            &.error {
               border-color: #F00;
            }
          }

          button {
            width: 100%;
            padding: 10px;
            .rounded(0);
            background: #ffffff;
            color: #d35400;
            border: 1px solid #d35400;
            text-transform: uppercase;
          }
        }
      }
    }

  }

  div {

    & > div.hero {
      background: #d35400;
      box-shadow: inset 0px 5px 6px rgba(0,0,0,0.3);
      -webkit-box-shadow: inset 0px 5px 6px rgba(0,0,0,0.3);
      border-bottom: 1px solid #000000;

      height: 400px;
      position: relative;
      overflow: hidden;
      &.mini {
        height: 200px;
      }

      div.container {
        position: relative;

        div.post {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 5;

          div.text {
            position: absolute;
            top: 20px;
            left: 10px;
            color: #ffffff;
            width: 800px;
            a {
              color: #ffffff;
              &.visit {
                line-height: 32px;
                text-align: center;
                font-weight: 500;
                margin-top: 5px;
              }
            }
          }
          div.thumb {
            width: 373px;
            height: 233px;
            position: absolute;
            right: -10px;
            top: -12px;
            background: url(/assets/img/portfolio-cards.png) top center no-repeat;
            img.banner {
              position: absolute;
              top: 34px;
              left: 49px;
              z-index: 1;
              border: 0;
              margin: 0;
              padding: 0;
            }
            div.inner {
              position: absolute;
              top: 45px;
              left: 59px;
              right: 65px;
              bottom: 54px;
              overflow: hidden;
              border: 1px solid #e4e4e3;
              img {
                position: absolute;
                margin-top: -50%;
                top: 50%;
                width:100%;
                padding: 0;
              }
            }
          }
        }

      }


    }

    &.post {
      padding: 10px;
      margin-bottom: 10px;
      border-bottom: 2px solid #f0f0f0;
      h1 {
        margin: 36px 0;
        font-size: 42px;
        font-weight: 800;
        line-height: 45px;
        text-transform: uppercase;
        a {
          color: #4b4d4a;
        }
      }
      h2, h3, h4 {
        margin: 18px 0;
      }
      h5 {
        font-weight: 500;
        font-size: 14px;
        margin: 3px 0 24px 0;
        i.icon {
          margin-left: 10px;
          color: #d9d9d9;
        }
        img.gravatar {
          width: 16px;
          height: 16px;
          margin-right: 2px;
        }
      }
      a {
        &.category, &.tag, &.author, &.more {
          .orange;
        }
        &.more {
          display: inline-block;
          margin: 20px 0;
          font-size: 18px;
        }
      }
      div.image {
        text-align:center;
        margin-bottom: 10px;
      }
      img.gravatar {
        float: left;
        margin-top: 0;
        margin-right: 8px;
        height: 60px;
        width: 60px;
        border: 1px solid #eee;
      }
      p {
        font-size: 18px;
        line-height: 26px;
        color: #616161;
        margin-bottom: 10px;
        a {
          img {
            margin: 5px;
            text-align: center;
          }
          span {
            text-align: center;
            font-size: 14px;
            display: block;
          }
        }
      }
      ul {
        margin-left: 20px;
        margin-bottom: 20px;
      }
      div.highlight {
        margin: 10px 20px;
        pre {
          white-space: pre-wrap;
        }
      }
      div.date {
        position: relative;
        width: 60px;
        height: 40px;
        text-align: right;
        strong {
          position: absolute;
          .condensed;
          font-weight: 300;
          &.day {
            top: 0;
            left: 0;
            font-size: 40px;
            line-height: 40px;
          }
          &.year {
            right: 0;
            bottom: 0;
          }
          &.month {
            right: 0;
            top: 0;
          }
        }
      }
      div.half {
        width: 50%;
      }
      div.gallery {
        & > div.inner {
          a {
            img.thumb {
              &.small {
                width: 180px;
                height: 120px;
              }
              &.large {
                width: 458px;
                height: 305px;
              }
            }
          }
        }
      }

    }

    &.well {
      .rounded(8px);
      margin: 20px 10px;
      background: #f9f9f9;
      border: 1px solid #d9d9d9;
      h4 {
        i {
          color:#f68423;
          padding-right: 5px;
        }
        margin-top: 0;
        padding-bottom: 5px;
        border-bottom: 2px solid #d9d9d9;
      }
      ul {
        padding: 0;
        li {
          a {
            color: #9a9a9a;
            &:hover {
              background: inherit;
              .orange;
            }
          }
          &.active {
            a {
              background: inherit;
              .orange;
              &:hover {
                background: inherit;
                .orange;
              }
            }
          }
        }
      }
    }
  }

  div.author-profile {
    margin: 20px 0px;
    img {
      width: 15%;
      .rounded(20px);
      float: left;
    }
    div.about {
      font-size: 16px;
      line-height: 22px;
      padding-left: 20px;
      width: 75%;
      display: inline-block;
      em {
        font-size: 14px;
        text-transform: uppercase;
        color: #d9d9d9;
        font-style: normal;
        font-weight: 800;
      }
      strong {
        font-size: 20px;
        line-height: 45px;
        .orange;
      }
    }
  }

  .pagination {
    background: #f9f9f9;
    float: left;
    padding: 10px;

    a, span {
      .rounded(5px);
      background: #9a9a9a;
      display: inline-block;
      color: #ffffff;
      padding: 3px 8px;
      &.current {
        background: #ffffff;
        border: 1px solid #9a9a9a;
        color: #9a9a9a;
      }
    }
  }

  footer {
    background: #dbdbdb;
    p {
      margin: 0;
      line-height: 30px;
    }
  }
}



@media (min-width: 1200px) {
}
@media (min-width: 980px) and (max-width: 1199px) {
  body {
    div > div.hero div.container div.post {
      p {
        margin-bottom: 0;
      }
      div.text {
        width: 600px;
      }
    }
    section {
      &.about {
        height: 485px;
        h1 {
          font-size: 60px;
          margin-bottom: 30px;
        }
        h2 {
          font-size: 30px;
          margin: 0 100px;
        }
        h3 {
          font-size: 40px;
        }
      }

    }
  }
}
@media (min-width: 768px) and (max-width:979px) {
  body {
    div > div.hero div.container div.post {
      p {
        margin-bottom: 0;
      }
      div.text {
        width: 98%;
      }
      div.thumb {
        display: none;
      }
    }
    div.navbar-fixed-top {
      margin-bottom: 0;
    }
    section {
      &.about {
        height: 485px;
        margin-top: 0px;
        h1 {
          font-size: 60px;
          margin-bottom: 25px;
        }
        h2 {
          font-size: 30px;
          margin: 0 45px;
        }
        h3 {
          font-size: 35px;
        }
      }
      &.meet {
        div.row {
          margin-bottom: 0;
        }
      }
      &.service {
      }
    }
  }
}
@media (max-width: 767px) {
  body {
    padding: 0;
    div > div.hero div.container div.post {
      p {
        margin-bottom: 0;
      }
      div.text {
        width: 98%;
      }
      div.thumb {
        display: none;
      }
    }
    div.navbar-fixed-top {
      margin: 0;
    }
    div.inner div.canvas div.columns div.col {
      width: 100%;
      clear: left;
    }
    section {
      &.about {
        background-size: auto 100%;
        margin-top: 0px;
        h1 {
          font-size: 60px;
          margin-bottom: 25px;
        }
        h2 {
          font-size: 30px;
          margin: 0 45px;
        }
        h3 {
          font-size: 35px;
        }
      }
      &.meet {
        div.row {
          margin-bottom: 0;
          div.groker {
            margin-bottom: 25px;
          }
        }
      }
      &.service {
        p {
          padding: 0 20px;
        }
      }
    }
  }
  address {
    padding-left: 10px;
  }

  body section.work {
    div.client {
      width: 80%;
      margin: 20px auto;
      div.about {
        h3 {
          font-size: 5vw;
        }
      }
    }
    div.row.wide {
      width: 100%;
      div.case-study {
        max-height: none;
      }
      div.span6 {
        img {
          width: 90%;
          float: none;
        }
      }
    }
  }

}

body section.form form fieldset {
  textarea,
  input,
  button {
    width: 97%;
    margin: 1.5%;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  input {
    height: 40px;
  }

  textarea {
    height: 100%;
  }
}

@media (max-width: 480px) {
  body section.about h1 {
    font-size: 44px;
    margin-top: 50px;
  }

  body section.about h2 {
    margin: 0 10px;
    padding: 0 10px;
  }

  body section.contact {

    height: auto;

    h1,
    h2 {
      margin: 20px 0;
      padding: 20px 0;
      display: block;
    }
  }

  body section.work {
    div.client {
      width: 80%;
      margin: 20px auto;
      div.about {
        h3 {
          font-size: 5vw;
        }
      }
    }
    div.row.wide {
      width: 100%;
      div.case-study {
        max-height: none;
      }
      div.span6 {
        img {
          width: 90%;
          float: none;
        }
      }
    }
  }
}

.grok-logo {
  background: url('/assets/img/grok-logo.png');
  background-image: url('/assets/img/grok-logo.svg'), none;
  background-repeat: no-repeat;
  background-size: contain;
  width: 164px;
  height: 44px;
  margin: 10px auto;
  text-indent: -9999px;
  outline: none;
  padding:0 !important;
  margin-left: 0 !important;
}
