---
layout: inner-pages
---
<div class="container">
    <div class="row">
        <div class="span3">
            <div class="well">
                <ul class="nav nav-list">
                    <li><a href="/blog">Blog Listing</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Tags</li>
                    {% for tag in site.tags %}
                    <li><a href="/tag/{{ tag[0] }}/">{{ tag[0] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="span7" role="main">
            <div class="post" id="inner-page">
                <h1>{{ page.title }}</h1>
                <div class="time">
                    <strong class="month-year">{{ page.date | date: "%b" }}<br />{{ page.date | date: "%Y" }}</strong>
                    <strong class="day">{{ page.date | date: "%d" }}</strong>
                </div>

                <hr />

                {% if page.tags != empty %}
                <ul class="tags breadcrumb">
                    <li class="active">Tags <span class="divider">:</span></li>
                    {% for tag in page.tags %}
                    <li><a href="/tag/{{ tag | replace:' ','_' | remove:'/' | remove:'#' | remove:'!' | remove:'&amp;' | downcase }}/">{{ tag }}</a>{% if forloop.last %}{% else %} <span class="divider">/</span>{% endif %}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <div class='content'>
                    {{ content }}

                    <div class="fb-comments" data-href="{{ site.url }}/{{ page.url }}" data-numposts="5" data-colorscheme="light"></div>
                    
                    <hr />

                    {% if page.previous.url || if page.next.url %}
                    <div class="pagination">
                        <ul>
                            {% if page.previous.url %}
                            <li><a href="{{ page.previous.url }}">Previous Post: <small>{{ page.previous.title }}</small></a></li>
                            {% endif %}
                            {% if page.next.url %}
                            <li><a href="{{ page.next.url }}">Next Post: <small>{{ page.next.title }}</small></a></li>
                            {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
