---
layout: inner-pages
---
<div class="span12">
    <div class="post" id="inner-page">
        <h1>{{ page.title }}</h1>
        <div class="time">
            <strong class="month-year">{{ page.date | date: "%b" }}<br />{{ page.date | date: "%Y" }}</strong>
            <strong class="day">{{ page.date | date: "%d" }}</strong>
        </div>

        <hr />

        {% if page.tags != empty %}
        <ul class="tags breadcrumb">
            <li class="active">Tags <span class="divider">:</span></li>
            {% for tag in page.tags %}
            <li><a href="/blog/tag/{{ tag | replace:' ','_' | remove:'/' | remove:'#' | remove:'!' | remove:'&amp;' | downcase }}/">{{ tag }}</a>{% if forloop.last %}{% else %} <span class="divider">/</span>{% endif %}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class='content'>
            {{ content }}
        </div>
    </div>
</div>
